@use "../../../mixins.scss" as mixin;

.header {
  max-height: 6.5em;

  &__content {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    max-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9999;

    &-logo {
      width: 25%;
      text-align: start;

      > img {
        cursor: pointer;
        width: 6.5em;
        height: 100%;
      }
    }

    &-navigaton {
      padding: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.9);
      color: #000 !important;
      transform: translate(100%);
      transition: transform 0.5s ease-in-out;

      & .active {
        border-bottom: 1px solid #000;
      }

      &.mobile-view-visible-true {
        transform: translate(0);
        transition: transform 0.5s ease-in-out;
        & .mat-list-text {
          color: #fff !important;
        }
      }

      @include mixin.for-laptop-up {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: 50%;
        height: 100%;
        position: static;
      }
    }

    &-profile {
      width: 15%;
      text-align: end;

      @include mixin.for-tablet-down {
        display: none;
      }

      // @media (max-width: bps.$md) {
      //   display: none;
      // }
    }

    &-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 9999;

      @include mixin.for-laptop-up {
        display: none;
      }

      // @media (min-width: bps.$lg) {
      //   display: none;
      // }
    }
  }
}
