@use "../mixins.scss" as mixin;

.sidenav {
  &__aside {
    min-width: 35rem;
    z-index: 9999;

    &-content {
      height: calc(100% - 4rem);
      padding: 2rem;
    }

    @include mixin.for-tablet-down {
      min-width: 100%;
    }
  }
}

::ng-deep .mat-drawer-container {
  overflow-y: scroll !important;

  &.scroll-off {
    @include mixin.for-laptop-down {
      overflow: hidden !important;
    }
  }
}
