<ng-container *ngIf="transactions">
  <div
    class="transaction"
    *ngFor="let transaction of transactions"
    (click)="editTransaction(transaction)"
  >
    <div class="transaction__left">
      <span class="transaction__left-category">
        {{ transaction.categories[0] }}
      </span>
    </div>
    <div class="transaction__center">
      <div class="transaction__center-top">
        <span class="transaction__center-top-text">
          {{ transaction.title }}
        </span>
      </div>

      <div class="transaction__center-bottom">
        <span
          [ngClass]="transaction.type === 'income' ? 'income' : ''"
          class="transaction__center-bottom-item not-last type"
        >
          {{ transaction.type }}
        </span>
        <span class="transaction__center-bottom-item not-last">
          {{ transaction.date | date: "dd.MM.yyyy" }}
        </span>
        <span class="transaction__center-bottom-item">
          {{ transaction.payee }}
        </span>
      </div>
    </div>
    <div class="transaction__right">
      <span
        class="transaction__right-amount"
        [ngClass]="transaction.type === 'income' ? 'income' : ''"
      >
        {{ transaction.amount }}
      </span>
    </div>
  </div>
</ng-container>
