@use "../../../colors.scss" as color;

@mixin text-color {
  color: color.$error;

  &.income {
    color: color.$success;
  }
}

@mixin text-overflow {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction {
  width: 95%;
  margin: 0 auto 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  cursor: pointer;

  &__left,
  &__right {
    max-width: 25%;
    width: 100%;
    text-align: center;
  }

  &__left {
    background-color: #eceded;
    border-radius: 10px;
    padding: 8px;
    margin-right: 16px;

    &-category {
      @include text-overflow;
    }
  }

  &__center {
    max-width: 50%;
    width: 100%;

    &-top {
      @include text-overflow;
    }

    &-bottom {
      &-icon {
        color: #fff;
        border-radius: 25px;
        background-color: color.$success;
        margin-right: 4px;

        &.expense {
          transform: rotate(180deg);
          background-color: color.$error;
        }
      }
      &-item {
        &.type {
          @include text-color;
        }

        &.not-last:after {
          content: "";
          width: 4px;
          height: 4px;
          background-color: #bfbfbf;
          display: inline-block;
          border-radius: 50%;
          margin-right: 6px;
          margin-left: 6px;
          vertical-align: middle;
        }
      }
    }
  }

  &__right {
    align-self: flex-start;

    &-amount {
      @include text-color;
      @include text-overflow;
    }
  }
}
