<form class="list">
  <!-- <app-search-bar (search)="search_request('works')"></app-search-bar> -->
  <div class="list__filters">
    <div class="list__filters-type">
      <div
        class="filter"
        *ngFor="let type of types"
        (click)="canUseFilters && type.method()"
        [ngClass]="type.label === selectedFilterType ? 'selected' : ''"
      >
        <mat-icon class="filter-icon">{{ type.icon }}</mat-icon>
        <span class="filter-label">{{ type.label }}</span>
      </div>
    </div>
    <div class="list__filters-date">
      <div
        class="filter"
        *ngFor="let date of dates"
        (click)="canUseFilters && date.method()"
        [ngClass]="date.label === selectedFilterDate ? 'selected' : ''"
      >
        <span class="filter-label">{{ date.label }}</span>
      </div>
    </div>
  </div>

  <div class="list__items" [ngSwitch]="type">
    <app-transactions
      *ngSwitchCase="'transactions'"
      [transactions]="transactions!"
      [noItems]="noItems"
    ></app-transactions>
  </div>
</form>
