<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content *ngIf="notification">
  {{ message }}
</div>

<form [formGroup]="accountForm" mat-dialog-content *ngIf="creatingAccount">
  <mat-form-field class="account-form__row" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="J.P. Morgan" formControlName="title" />
    <mat-error *ngIf="accountTitle?.errors?.['required']">
      Title for an account is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="account-form__row" appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency">
      <mat-option
        *ngFor="let currency of availableCurrencies"
        [value]="currency.symbol"
      >
        {{ currency.symbol }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="accountCurrency?.errors?.['required']">
      Currency for an account is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- <mat-form-field class="account-form__row" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="Debit"> Debit </mat-option>
      <mat-option value="Credit"> Credit </mat-option>
    </mat-select>

    <mat-error *ngIf="accountType?.errors?.['required']">
      Type for an account is <strong>required</strong>
    </mat-error>
  </mat-form-field> -->

  <mat-form-field class="account-form__row" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Leave a comment"
    ></textarea>
  </mat-form-field>
</form>

<form
  [formGroup]="transactionForm"
  mat-dialog-content
  *ngIf="creatingTransaction"
>
  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Transaction" formControlName="title" />
    <mat-error *ngIf="transactionTitle?.errors?.['required']">
      Title for a transaction is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select
      #selectType
      formControlName="type"
      name="selectType"
      (selectionChange)="onTypeChange(selectType.value)"
    >
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="transactionType?.errors?.['required']">
      Type for a transaction is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categories" multiple>
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="transactionType?.errors?.['required']">
      Provide at least<strong> one category</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [max]="maxDate"
      formControlName="date"
      readonly
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="transactionDate?.errors?.['required']">
      Date of a transaction is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="transaction-form__row"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>Amount</mat-label>
    <input matInput placeholder="0" formControlName="amount" type="number" />
    <!-- FOR LATER MAKE SO THAT CARD CURRENCY IS USED-->
    <span matPrefix>{{ currentCurrency }}&nbsp;</span>

    <span matSuffix>.00</span>
    <mat-error *ngIf="transactionAmount?.errors?.['required']">
      Amount for a transaction is <strong> required</strong>
    </mat-error>
    <mat-error *ngIf="transactionAmount?.errors?.['min']">
      Amount for an transaction must be <strong> more than 0</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Payee</mat-label>
    <input matInput placeholder="John Doe" formControlName="payee" />
    <mat-error *ngIf="transactionPayee?.errors?.['required']">
      Provide a <strong> payee</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Leave a comment"
    ></textarea>
  </mat-form-field>
</form>

<form [formGroup]="categoryForm" mat-dialog-content *ngIf="creatingCategory">
  <mat-form-field class="category-form__row" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="name" />
    <mat-error *ngIf="categoryTitle?.errors?.['required']">
      Name for a category is <strong> required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="category-form__row" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select
      #selectType
      formControlName="type"
      name="selectType"
      (selectionChange)="(selectType.value)"
    >
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="transactionType?.errors?.['required']">
      Type for a transaction is <strong> required</strong>
    </mat-error>
  </mat-form-field>
</form>

<form
  [formGroup]="subscriptionForm"
  mat-dialog-content
  *ngIf="creatingSubscription"
>
  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title" />
    <mat-error
      *ngIf="subscriptionTitle?.errors?.['required'] || subscriptionTitle?.errors?.['whitespace']"
    >
      Title of a subscription is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Description of a subscription"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Start date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a start date of a subscription"
      formControlName="startDate"
      readonly
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="subscriptionStartDate?.errors?.['required']">
      Provide a start date of a subscription
    </mat-error>
  </mat-form-field>

  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Subscription duration</mat-label>
    <input
      matInput
      formControlName="durationNumber"
      readonly
      (click)="openDurationPicker()"
      [value]="tempText"
    />
    <mat-hint>By default subscription will last 12 months</mat-hint>
  </mat-form-field>

  <mat-form-field
    class="subscription-form__row"
    appearance="outline"
    floatLabel="always"
  >
    <mat-label>Amount</mat-label>
    <input matInput placeholder="0" formControlName="amount" type="number" />
    <span matPrefix>{{ currentCurrency }}&nbsp;</span>

    <span matSuffix>.00</span>
    <mat-error *ngIf="subscriptionAmount?.errors?.['required']">
      Amount for a subscription is <strong> required</strong>
    </mat-error>
    <mat-error *ngIf="transactionAmount?.errors?.['min']">
      Amount for a subscription must be <strong> more than 0</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Payee</mat-label>
    <input matInput placeholder="Profiteer" formControlName="payee" />
    <mat-error *ngIf="subscriptionPayee?.errors?.['required']">
      Payee from a subscription is <strong> required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="transaction-form__row" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categoryList">
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="transactionType?.errors?.['required']">
      Provide at least<strong> one category</strong>
    </mat-error>
  </mat-form-field>
</form>

<form [formGroup]="durationForm" mat-dialog-content *ngIf="choosingDuration">
  <mat-form-field class="duration-form__row" appearance="outline">
    <mat-label>Quantity of weeks/months/years</mat-label>
    <input matInput placeholder="1" formControlName="number" type="number" />
    <mat-error *ngIf="subscriptionDurationNumber?.errors?.['min']">
      The minimal allowed duration is <strong> 1</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="subscription-form__row" appearance="outline">
    <mat-label>Charge once in ...</mat-label>
    <mat-select
      #selectType
      formControlName="unit"
      name="selectType"
      (selectionChange)="(selectType.value)"
    >
      <mat-option
        *ngFor="let durationUnit of durationUnits"
        [value]="durationUnit.value"
      >
        {{ durationUnit.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="subscription-form__row-extra-info">
    <mat-icon class="subscription-form__row-extra-info-icon">info</mat-icon>
    <span class="subscription-form__row-extra-info-text">
      The subscription will last for
      <strong
        >{{ durationForm.value.number }}
        {{ durationForm.value.unit }}(-s)</strong
      >
    </span>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close="close">Close</button>
  <button
    mat-button
    mat-dialog-close="success"
    *ngIf="choosingDuration"
    [disabled]="!isFormFilled()"
    (click)="onProceed()"
  >
    Proceed
  </button>
  <button
    mat-button
    mat-dialog-close="success"
    *ngIf="!notification && !choosingDuration"
    [disabled]="!isFormFilled()"
    (click)="onCreate()"
  >
    Create
  </button>
</div>
