<div class="actions">
  <div class="actions__upper">
    <app-action
      [label]="'Transaction'"
      [canUse]="!noAccounts"
      [action]="onAddAction"
      *ngIf="type === 'transactions'"
    ></app-action>
    <app-action
      [label]="'Account'"
      [canUse]="true"
      [action]="onAddAction"
      *ngIf="type === 'transactions'"
    ></app-action>
    <app-action
      [label]="'Subscription'"
      [canUse]="!noAccounts"
      [action]="onAddAction"
      *ngIf="type === 'subscriptions'"
    ></app-action>
  </div>
  <div class="actions__lower"></div>
</div>
