@mixin fontSW($value) {
  font-size: $value;
  line-height: $value;
}

@mixin text-overflow {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account {
  border-radius: 10px;
  background: rgb(248, 93, 108);
  background: linear-gradient(
    145deg,
    rgba(248, 93, 108, 1) 25%,
    rgba(221, 142, 224, 1) 50%,
    rgba(80, 182, 238, 1) 95%
  );
  cursor: pointer;
  opacity: 0.25;
  margin-bottom: 1.5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: #fff;

    &-right {
      width: 50%;
      &-title {
        @include fontSW(2em);
        opacity: 0.75;

        @include text-overflow;
      }

      &-balance {
        @include fontSW(2em);
        opacity: 1;
        display: flex;

        &-amount {
          @include text-overflow;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
  }
}
